@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.paragraph, ul, ol{
    font-family: "Ubuntu", sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0.2px;
    line-height: 1.8rem;
    color: #8892b0;
    margin: 0 0 1rem 0;
    font-weight: lighter !important;
}
ul li, ol li{
    margin: 0.5rem 0;
    font-weight: normal !important;
}
.paragraph a {
    font-family: "Ubuntu", sans-serif;
    color: #64ffda;
    text-decoration: underline 1px dashed;
}

.blockQuote {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.3rem !important;
    border-left: 5px solid #64ffda;
    color: #ccd6f6;
    padding: 0.8rem 1rem;
    margin: 0.8rem 0;
    font-weight: lighter !important;
}

.imageCaption{
    font-family: "Ubuntu", sans-serif;
    margin: 1rem 0;
    text-align: center;
    font-weight: lighter !important;
    color: #8892b0;
}

.bodyImage {
    max-width: 100%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.actualImage {
    border: 1px solid #64ffdb33;
}

@media (max-width: 760px) {
    .paragraph, ul {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .blockQuote {
        font-size: 1.2rem !important;
    }

    .bodyImage {
        max-width: 95%;
    }
}