/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

.paragraph, ul, ol{
    font-size: 1rem;
    color: #8892b0;
    letter-spacing: 0.5px;
    margin: 0 0 1rem 0;
    font-weight: lighter !important;
    font-family:'Open Sans', sans-serif;
}
ul li, ol li{
    margin: 0.5rem 0;
    font-weight: normal !important;
}
.paragraph a {
    color: #64ffda
}

.blockQuote {
    font-size: 1.2rem !important;
    border-left: 5px solid #64ffda;
    color: #ccd6f6;
    padding: 0.8rem 1rem;
    margin: 0.8rem 0;
    border-radius: 0.2rem;
    font-weight: lighter !important;
}

.imageCaption{
    margin: 1rem 0;
    text-align: center;
    font-weight: lighter !important;
    font-family: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
    color: #8892b0;
    font-style: italic;
}

.bodyImage {
    max-width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 760px) {
    .paragraph, ul {
        font-size: 0.9rem;
    }

    .blockQuote {
        font-size: 1rem !important;
    }

    .bodyImage {
        max-width: 90%;
    }
}