@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.container {
    margin: 0;
}
.link {
    font-family: "Ubuntu", sans-serif;
    color: aliceblue;
    font-size: 1rem;
}
.link a {
    font-family: "Ubuntu", sans-serif;
    color: aquamarine;
    text-decoration: underline 1px dashed;
}