@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@500&display=swap');

html{
  scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff4d; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000075;
  border-radius: 2rem;
}

body {
  margin: 0;
  font-family: 'Roboto Flex', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
