@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    color: #f5f5f5b5;
    padding: 0.5rem 0;
    position: absolute;
    top: 0;
    left: 0;
}

.rc_nav {
    /* background-color: #1a283b; */
    text-align: center;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #80808042;
}

.rc_nav a {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    margin-right: -4px;
    /* inline-block gap fix */
    color: #fff;
    padding: 22px 22px;
    text-decoration: none;
    font-family: Poppins;
    font-size: 18px;
}

.navHead {
    margin: 0 4rem;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    letter-spacing: 1px;
}
@media screen and (max-width: 820px) {

    .rc_nav a.icon {
        float: right;
        display: block;
        width: 60px;
    }
}

@media screen and (max-width: 820px) {
    .rc_nav_responsive {
        /* overflow: hidden; */
        background-color: #363841;
        text-align: center;
        z-index: 6;

    }

    .rc_nav_responsive .icon {
        position: fixed;
        right: 0;
        top: 0;
        width: 60px;
    }

    .rc_nav_responsive a {
        display: inline-block;
        margin-right: -4px;
        /* inline-block gap fix */
        color: #fff;
        padding: 22px 22px;
        text-decoration: none;
        font-family: Poppins;
        font-size: 18px;
        -webkit-transition: background 0.3s linear;
        -moz-transition: background 0.3s linear;
        -ms-transition: background 0.3s linear;
        -o-transition: background 0.3s linear;
        transition: background 0.3s linear;
        z-index: 9;
        position: relative;
        top: 73px;
        overflow: hidden;
        background-color: #363841;
        text-align: center;
        z-index: 6;
        float: none;
        display: block;
        text-align: center;
    }
}

#scrollToTop:hover {
    cursor: pointer;
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {}