.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
    width: 90%;
    margin: 0 auto;
}
.container a{
    text-decoration: none;
}
.projectList{
    background-color: #202022;
    margin: 0.3rem 0;
    padding: 2rem;
    border-radius: 0.3rem;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
}
.projectList:hover {
    top: -5px;
    box-shadow: 2px 2px 0px 0px #64ffdb9c;
    cursor: pointer;
}
.projectName{
    font-family: 'Inter', sans-serif;;
    color: rgb(255 255 255);
    font-size: 1.3rem;
    /* line-height: 3rem; */
    margin: 1rem 0 0.8rem 0;
    font-weight: bold;
}
.projectFullName{
    font-family: 'Inter', sans-serif;;
    color: rgb(255 255 255);
    font-size: 0.8rem;
    /* line-height: 3rem; */
    margin-bottom: 1.5rem;
}
.projectLanguage{
    font-family: 'Inter', sans-serif;;
    color: rgb(255 255 255);
    font-size: 0.8rem;
    line-height: 2rem;
}
.projectDescription {
    font-family: 'Inter', sans-serif;;
    color: rgb(255 255 255);
    font-size: 0.9rem;
    line-height: 1.3rem;
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
    
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
    
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
    
}

/* For Tablet View */
/* @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    
} */

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
    
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
    
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
    
}