@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body{
    background: #0a192f;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    margin: 1rem auto;
    background-color: #ffffff08;
    padding: 1rem;
    box-shadow: 11px -4px 20px 4px #ffc0cb05;
}

.breadcrumb {
    width: 65%;
    margin: 2rem auto 0.5rem auto;
}

.title {
    width: 100%;
    font-size: 1.7rem;
    /* font-weight: 200; */
    color: #ccd6f6;
    margin: 1rem auto;
    font-family: 'Crimson Text', serif;
}
.subtitle{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}
.subtitle div{
    display: flex;
    margin-bottom: 0.5rem;
}
.author a, .date{
    text-decoration: none;
    font-size: 1.1rem;
    color: #8892b0;
    display: flex;
    align-items: center;
    font-family: 'Crimson Text', serif;
}
.hr{
    color: #64ffdb33;
    width: 100%;
    border-radius: 0.5rem;
    margin: 1rem 0;
}
.blogContent div, .blogContent ul li{
    width: 100%;
    margin: 1rem auto;
    font-size: 1.05rem;
    word-spacing: 2px;
    font-weight: bold;
    color: #f0ffffe5;
}
.coverImage{
    max-height: 60vh;
}
.categories a {
    text-decoration: none;
}
.categories span{
    color: #64ffda;
    font-size: 1rem;
}
.otherBlogs{
    width: 80%;
    margin: 1rem auto;
}
.heading, .heading1{
    display: flex;
    align-items: center;
    margin: 0 0 1rem 0;
    width: 100%;
}
.heading span, .heading1 span{
    color: #64ffda;
    font-size: 1.2rem;
    margin-top: 0;
    text-align: center;
    margin: 0 0.5rem 0 0;
    display: flex;
}
.heading hr{
    height: 2px;
    border: none;
    border-radius: 1rem;
    background-color: #64ffdb33;
    width: 100%;
    margin-top: 2rem;
}
.heading1 hr{
    height: 2px;
    border: none;
    border-radius: 1rem;
    background-color: #64ffdb33;
    width: 85%;
}
.band {
    width: 72%;
    max-width: 1240px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 0.5fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

@media (min-width: 30em) {
    .band {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 60em) {
    .band {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 760px){
    .band{
        grid-template-columns: 1fr;
        width: 85%;
    }
    .container{
        width: 90%;
        margin: 1rem auto 2rem auto;
    }
    .breadcrumb{
        width: 90%;
        margin: 2rem auto 1rem auto;
    }
    .title{
        font-size: 1.4rem;
    }
    .author a, .date{
        font-size: 0.9rem;
        color: slategrey;
    }
    .heading hr{
        margin-top: 1rem;
        margin-bottom: 0;
    }
    .otherBlogs{
        width: 90%;
    }
    .heading1 span{
        font-size: 1.2rem;
    }
    .heading1 hr{
        width: 65%;
    }
    .blogContent{
        width: 100%;
    }
    .blogContent div, .blogContent ul li{
        width: 100%;
        margin: 0.5rem auto;
        font-size: 0.9rem;
        word-spacing: 0px;
        font-weight: bold;
        color: #f0ffffe5;
    }
    .title {
        width: 100%;
        font-size: 1.4rem;
        font-weight: 200;
        color: azure;
        margin: 1rem auto 0.5rem auto;
    }
    .subtitle{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }
    .subtitle div{
        display: flex;
    }
    .author a, .date{
        /* font-size: 1rem; */
        color: slategrey;
        margin: 0;
        display: flex;
        align-items: center;
    }
    .categories span{
        color: #64ffda;
        font-size: 0.9rem;
    }
}
